body{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    text-align: center;
    gap: 10px;
    margin: 10px;
}
header{
    background-color: rgb(109, 109, 247);
    grid-column: span 12;
    padding: 30px;
    color: white;
}
hero{
    background-color: rgba(188, 143, 143, 0.555);
    grid-column: span 4;
    padding: 30px;
    color: white;
    height: 100px;
}
main{
    background-color: rgb(243, 213, 40);
    grid-column: span 8;
    padding: 30px;
    color: white;
    height: 300px; 
     
}
sidebar{
    background-color: rgba(102, 189, 81, 0.993);
    grid-column: span 4;
    padding: 30px;
    color: white;
    height: 300px; 
    
}
content{
    background-color: rgb(102, 102, 102);
    grid-column: span 8;
    padding: 30px;
    color: white;
    height: 80px;
}
.rel-images{
    background-color:green;
    grid-column: span 9;
    padding: 30px;
    color: white;
    height: 40px;

}
.rel-posts{
    background-color:rgb(241, 163, 209);
    grid-column: span 3;
    padding: 30px;
    color: white;
    height: 40px;
}
footer{
    background-color:rgb(238, 104, 15);
    grid-column: span 12;
    padding: 30px;
    color: white;
}